div.App {
  margin-left: 2%;
}

div.Items-Component div, div.Stores-Component div {
  background: lightblue;
  width: 50%;
  padding-left: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding: 5px;
}

a {
  color: rgb(70, 1, 1);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button, input[type=submit] {
  background-color: #c8d5ff;
  color: black;
  padding: 5px 10px;
  margin: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
}

button:hover, input[type=submit]:hover {
  background-color: #eeeeee;
}